@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

.kraut-rock {
  background-color: #c15151;
}

.italo-disco {
  background-color: #99a941;
}

.post-punk {
  background-color: #424283;
}
